In [1]:
# Importing libraries
import pandas as pd
import numpy as np

# Read csv file into a pandas dataframe
data = pd.read_csv('ardd_fatalities_jan2022.csv',header=None)

# Print the first five rows of data
data.head()

C:\Users\Plath\AppData\Local\Temp\ipykernel_19072\1919386749.py:6: DtypeWarning: Columns (0,2,3,10,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('ardd_fatalities_jan2022.csv',header=None)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Age,National Remoteness Areas,SA4 Name 2016,National LGA Name 2017,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
1,20225010,WA,1,2022,Sunday,2:50,Single,No,No,No,...,20,NaN,NaN,NaN,NaN,No,No,17_to_25,Weekend,Night
2,20224003,SA,1,2022,Friday,21:10,Single,No,No,No,...,21,Remote Australia,South Australia - Outback,Lower Eyre Peninsula (DC),Local Road,No,No,17_to_25,Weekend,Night
3,20223017,Qld,1,2022,Sunday,18:00,Single,No,No,No,...,26,Inner Regional Australia,Ipswich,Somerset (R),Sub-arterial Road,No,No,26_to_39,Weekend,Night
4,20223013,Qld,1,2022,Friday,18:00,Single,No,No,No,...,22,Inner Regional Australia,Wide Bay,Fraser Coast (R),Local Road,No,No,17_to_25,Weekend,Night

In [2]:
data2 = data.copy()

In [3]:

data2.columns = ['Crash_ID', 'State', 'Month', 'Year', 'Dayweek', 'Time', 'Crash_Type', 'Bus_Involvement', 'Heavy_Rigid_Truck_Involvement', 
'Articulated_Truck_Involvement', 'Speed_limit', 'Road_User', 'Gender', 'Age', 'National_Remoteness_Areas', 'SA4_Name_2016', 
                 'National_LGA_Name_2017', 'National_Road_Type', 'Christmas_Period', 'Easter_Period', 'Age_Group', 'Day_Of_Week', 'Time_of_Day']
data2.drop(index=data2.index[0], axis=0, inplace=True) # remove first row of data

In [4]:
print('Number of missing values:')
for col in data2.columns:
    print('\t%s: %d' % (col,data2[col].isna().sum()))

Number of missing values:
	Crash_ID: 0
	State: 0
	Month: 0
	Year: 0
	Dayweek: 0
	Time: 0
	Crash_Type: 0
	Bus_Involvement: 0
	Heavy_Rigid_Truck_Involvement: 0
	Articulated_Truck_Involvement: 0
	Speed_limit: 0
	Road_User: 0
	Gender: 0
	Age: 0
	National_Remoteness_Areas: 45872
	SA4_Name_2016: 45858
	National_LGA_Name_2017: 45854
	National_Road_Type: 45873
	Christmas_Period: 0
	Easter_Period: 0
	Age_Group: 0
	Day_Of_Week: 0
	Time_of_Day: 0

In [5]:
# data2 = data2.replace(np.NaN, "Location Unknown")
# for col in data2.columns:
#     print('\t%s: %d' % (col,data2[col].isna().sum()))

In [6]:
data2['Crash_ID'] = pd.to_numeric(data2['Crash_ID'], errors='coerce')
data2['Month'] = pd.to_numeric(data2['Month'], errors='coerce')
data2['Year'] = pd.to_numeric(data2['Year'], errors='coerce')
data2['Speed_limit'] = pd.to_numeric(data2['Speed_limit'], errors='coerce')
data2['Age'] = pd.to_numeric(data2['Age'], errors='coerce')

In [7]:
numeric_attributes = data2.columns[data2.dtypes != "object"]
categorical_attributes = data2.columns[data2.dtypes == "object"]

print(numeric_attributes)
print(categorical_attributes)

Index(['Crash_ID', 'Month', 'Year', 'Speed_limit', 'Age'], dtype='object')
Index(['State', 'Dayweek', 'Time', 'Crash_Type', 'Bus_Involvement',
       'Heavy_Rigid_Truck_Involvement', 'Articulated_Truck_Involvement',
       'Road_User', 'Gender', 'National_Remoteness_Areas', 'SA4_Name_2016',
       'National_LGA_Name_2017', 'National_Road_Type', 'Christmas_Period',
       'Easter_Period', 'Age_Group', 'Day_Of_Week', 'Time_of_Day'],
      dtype='object')

In [8]:
modified_data = data2.dropna()

# Print the total number of missing values
print("There are {} missing values in this dataset".format(modified_data.isnull().sum().sum()))

print('Number of instances = %d' % (modified_data.shape[0]))
print('Number of attributes = %d' % (modified_data.shape[1]))

print('Number of missing values:')
for col in modified_data.columns:
    print('\t%s: %d' % (col,modified_data[col].isna().sum()))

There are 0 missing values in this dataset
Number of instances = 7354
Number of attributes = 23
Number of missing values:
	Crash_ID: 0
	State: 0
	Month: 0
	Year: 0
	Dayweek: 0
	Time: 0
	Crash_Type: 0
	Bus_Involvement: 0
	Heavy_Rigid_Truck_Involvement: 0
	Articulated_Truck_Involvement: 0
	Speed_limit: 0
	Road_User: 0
	Gender: 0
	Age: 0
	National_Remoteness_Areas: 0
	SA4_Name_2016: 0
	National_LGA_Name_2017: 0
	National_Road_Type: 0
	Christmas_Period: 0
	Easter_Period: 0
	Age_Group: 0
	Day_Of_Week: 0
	Time_of_Day: 0

In [9]:
# Replace all missing values with user defined constant, Replacing -9 values with null spaces
print('Before replacing missing values:')
print(data[20:25])

data3 = data2.copy()

data3 = data3.replace(-9 , np.NaN)

print('\nAfter replacing missing values:')
print(data3[20:25])

Before replacing missing values:
          0    1  2     3       4      5         6   7   8   9   ...  13  \
20  20221004  NSW  1  2022  Sunday  20:20  Multiple  No  No  No  ...  15
21  20221030  NSW  1  2022  Sunday   0:11    Single  No  No  No  ...  20
22  20225002   WA  1  2022  Monday  21:58    Single  No  No  No  ...  37
23  20221024  NSW  1  2022  Sunday   1:11  Multiple  No  No  No  ...  23
24  20221023  NSW  1  2022  Friday  22:15    Single  No  No  No  ...  28

                           14                                      15  \
20   Inner Regional Australia                         Mid North Coast
21   Inner Regional Australia  Sydney - Baulkham Hills and Hawkesbury
22                        NaN                                     NaN
23  Major Cities of Australia                      Sydney - Blacktown
24  Major Cities of Australia               Sydney - Outer South West

              16             17   18  19        20       21     22
20     Mid-Coast     Local Road   No  No   0_to_16  Weekend  Night
21    Hawkesbury  Arterial Road   No  No  17_to_25  Weekend  Night
22           NaN            NaN  Yes  No  26_to_39  Weekday  Night
23     Blacktown  Arterial Road  Yes  No  17_to_25  Weekend  Night
24  Campbelltown     Local Road   No  No  26_to_39  Weekend  Night

[5 rows x 23 columns]

After replacing missing values:
    Crash_ID State  Month  Year    Dayweek   Time Crash_Type Bus_Involvement  \
21  20221030   NSW      1  2022     Sunday   0:11     Single              No
22  20225002    WA      1  2022     Monday  21:58     Single              No
23  20221024   NSW      1  2022     Sunday   1:11   Multiple              No
24  20221023   NSW      1  2022     Friday  22:15     Single              No
25  20221026   NSW      1  2022  Wednesday   1:25     Single              No

   Heavy_Rigid_Truck_Involvement Articulated_Truck_Involvement  ...   Age  \
21                            No                            No  ...  20.0
22                            No                            No  ...  37.0
23                            No                            No  ...  23.0
24                            No                            No  ...  28.0
25                            No                            No  ...  37.0

    National_Remoteness_Areas                           SA4_Name_2016  \
21   Inner Regional Australia  Sydney - Baulkham Hills and Hawkesbury
22                        NaN                                     NaN
23  Major Cities of Australia                      Sydney - Blacktown
24  Major Cities of Australia               Sydney - Outer South West
25  Major Cities of Australia  Sydney - Outer West and Blue Mountains

    National_LGA_Name_2017         National_Road_Type Christmas_Period  \
21              Hawkesbury              Arterial Road               No
22                     NaN                        NaN              Yes
23               Blacktown              Arterial Road              Yes
24            Campbelltown                 Local Road               No
25          Blue Mountains  National or State Highway               No

   Easter_Period Age_Group Day_Of_Week Time_of_Day
21            No  17_to_25     Weekend       Night
22            No  26_to_39     Weekday       Night
23            No  17_to_25     Weekend       Night
24            No  26_to_39     Weekend       Night
25            No  26_to_39     Weekday       Night

[5 rows x 23 columns]

In [11]:
numeric_attributes = data3.columns[data3.dtypes != "object"]
categorical_attributes = data3.columns[data3.dtypes == "object"]

print(numeric_attributes)
print(categorical_attributes)

Index(['Crash_ID', 'Month', 'Year', 'Speed_limit', 'Age'], dtype='object')
Index(['State', 'Dayweek', 'Time', 'Crash_Type', 'Bus_Involvement',
       'Heavy_Rigid_Truck_Involvement', 'Articulated_Truck_Involvement',
       'Road_User', 'Gender', 'National_Remoteness_Areas', 'SA4_Name_2016',
       'National_LGA_Name_2017', 'National_Road_Type', 'Christmas_Period',
       'Easter_Period', 'Age_Group', 'Day_Of_Week', 'Time_of_Day'],
      dtype='object')

In [14]:
data4 = data3['Speed_limit']

print('Before replacing missing values:')
print(data3[9:17])

data4 = data4.fillna(data4.median())


print('\nAfter replacing missing values:')
print(data4[9:17])

Before replacing missing values:
    Crash_ID State  Month  Year   Dayweek   Time Crash_Type Bus_Involvement  \
10  20223018   Qld      1  2022    Sunday  10:00     Single              No
11  20222020   Vic      1  2022    Sunday  11:00   Multiple              -9
12  20223012   Qld      1  2022   Tuesday  13:00   Multiple              No
13  20223002   Qld      1  2022    Monday  15:00     Single              No
14  20222012   Vic      1  2022  Thursday  19:22     Single              -9
15  20222006   Vic      1  2022    Friday  17:00     Single              -9
16  20222024   Vic      1  2022    Monday  12:40     Single              -9
17  20228001   ACT      1  2022    Monday  10:30     Single              No

   Heavy_Rigid_Truck_Involvement Articulated_Truck_Involvement  ...   Age  \
10                            No                            No  ...  78.0
11                            -9                            -9  ...  79.0
12                           Yes                            No  ...  14.0
13                            No                            No  ...  17.0
14                            -9                            -9  ...  21.0
15                            -9                            -9  ...  73.0
16                            -9                            -9  ...  70.0
17                            No                            No  ...  71.0

    National_Remoteness_Areas                 SA4_Name_2016  \
10   Outer Regional Australia                    Townsville
11  Major Cities of Australia        Melbourne - South East
12   Outer Regional Australia          Queensland - Outback
13  Major Cities of Australia                Sunshine Coast
14  Major Cities of Australia              Melbourne - West
15   Inner Regional Australia    Warrnambool and South West
16   Outer Regional Australia                    North West
17  Major Cities of Australia  Australian Capital Territory

    National_LGA_Name_2017         National_Road_Type Christmas_Period  \
10          Townsville (C)  National or State Highway               No
11   Greater Dandenong (C)                 Local Road              Yes
12             Mareeba (S)          Sub-arterial Road               No
13      Sunshine Coast (R)                 Local Road               No
14         Hobsons Bay (C)                 Local Road               No
15         Colac-Otway (S)          Sub-arterial Road               No
16          Swan Hill (RC)                 Local Road               No
17      Unincorporated ACT                 Local Road               No

   Easter_Period    Age_Group Day_Of_Week Time_of_Day
10            No  75_or_older     Weekend         Day
11            No  75_or_older     Weekend         Day
12            No      0_to_16     Weekday         Day
13            No     17_to_25     Weekday         Day
14            No     17_to_25     Weekday       Night
15            No     65_to_74     Weekday         Day
16            No     65_to_74     Weekday         Day
17            No     65_to_74     Weekday         Day

[8 rows x 23 columns]

After replacing missing values:
10    100.0
11     80.0
12     60.0
13    100.0
14     60.0
15     80.0
16     80.0
17     80.0
Name: Speed_limit, dtype: float64